<div class="jumbotron">
  <h1 class="display-4">Mongo News Scraper</h1>
  <p class="lead">Read the latest articles from "The New York Times.</p>
  <hr class="my-4">
  <p>Click 'Scrape' to get the latest articles.</p>
  
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
